.navbar {
  .navbar-brand {
    padding: 22px;
    font-family: 'Lily Script One', sans-serif;
    font-size: 26px;
    color: #fff;
    span {
      position: relative;
      top: 4px;
      margin-left: 3px;
    }
  }
  .navbar-nav {
    li > a {
      padding: 23px;
      color: #ccc;
      &:hover {
        color: #fff;
      }
    }
    .dropdown-menu > li > a {
      padding: 3px 20px;
      color: #262626;
      font-weight: normal;
    }
  }
}
.main {
  margin: 80px 0;
  .nav-tabs {
    margin-bottom: 25px;
  }
}
.page-header {
  margin-top: 0;
  padding-bottom: 6px;
  h1 {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    color: #aaa;
    letter-spacing: -0.5px;
  }
}
.well {
  background: #fcfcfc;
}
.control-label {
  text-transform: capitalize;
}
.txtr {
  text-align: right;
}
